*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px auto;
    background-color: #fff;
   
}
.alert-success{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: max(30vw,280px);
    height: 30vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: bolder;
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
    color: green;
    display: none;
    box-shadow: inset 0px 0px 18px 8px rgba(0,0,0,.3);
}
.alert-failure{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 30vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 400;
    font-size: large;
    color: red;
    display: none;
}

.btn{
    padding: 5px 10px;
    border: none;
    outline: none;
    /* border: 1px solid rgb(34, 32, 32); */
    color: white;
    border-radius: 6px;
    position: absolute;
    right: 10%;
    bottom: 10%;
    cursor: pointer;
    box-shadow: inset 0px 0px 2px 3px rgba(0,0,0,.3);
}
.btn:hover{
    opacity: .7;
}
.success-btn{
    background-color: rgb(22, 174, 22);
}
.danger-btn{
    background-color: red;
}
.mainContainer{
    height: auto;
    width:max(40%,300px);
    background-color: hsl(0, 0%, 100%);
}
.mainContainer h1{
    height: 15%;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: hsl(0, 11%, 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.mainContainer form{
    height: auto;
    width: 100%;
    /* margin: 0 auto; */
    margin-bottom: 20px;
    background-color: hsl(0, 11%, 90%);
    border-radius: 5px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mainContainer form input{
    width: 90%;
    height: 40px;
    padding: 5px;
    background-color: hsl(0, 5%, 93%);
    border: 1px solid rgb(129, 126, 126);
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 0 auto;
}
.mainContainer form input[type='submit']{
    height:35px ;
    background-color: hsl(120, 79%, 40%);
    border: 2px sloid grey;
}
.mainContainer form input[type='submit']:hover{
    background-color: hsl(120, 79%, 38%);
    cursor: pointer;
}
.mainContainer form input::placeholder{
    margin: 0 auto;
}

.mainContainer form input:focus{
    border: 2px solid black;
    background-color: #fff;
}

.mainContainer form .inputBox {
    height: 70px;
    width: 100%;
    background-color: hsl(0, 11%, 90%);
}
.mainContainer form .inputBox .validationError{
    height: 20px;
    width: 90%;
    padding: 5px;
    background-color: hsl(0, 11%, 90%);
    margin:0 auto;
    font-size: x-small;
    color: red;

}


.mainContainer form input.noPointer{
    /* pointer-events: none; */
    cursor: not-allowed;
    opacity: .2;
    
}
.mainContainer form input.noPointer:hover{
    cursor: not-allowed;
}

.show{
    display: flex;
}
.hide{
    display: none;
}

